# commands to specify testing environments
language: python
python:
  - "3.5"
  - "3.6"

# command to install dependencies
install:
  - pip install -r test-requirements.txt

# command to run tests
script:
  python -m unittest discover -p '*_test.py'
