# This file allows installation of test requirements.
#
# Use it like this:
#   pip install -r test-requirements.txt

nionutils==0.3.20
niondata==0.13.9
nionui==0.3.27

scipy
numpy
h5py
pytz
tzlocal
pillow
