# This file allows installation of test requirements.
#
# Use it like this:
#   pip install -r test-requirements.txt

git+https://github.com/nion-software/nionutils.git#egg=nionutils
git+https://github.com/nion-software/nionui.git#egg=nionui
git+https://github.com/nion-software/niondata.git#egg=niondata

scipy
numpy
h5py
hdf5plugin
pytz
tzlocal
pillow

# for testing
types-pytz
types-tzlocal
